<a href="https://colab.research.google.com/github/tranvulamdev88/machine-learning/blob/main/randomforest.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [143]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score, f1_score

In [144]:
names = ['party', 'infants', 'water', 'budget', 'physician','salvador', 'religious', 'satellite', 'aid', 'missile',
        'immigration', 'synfuels', 'education', 'superfund', 'crime', 'duty_free_exports','eaa_rsa']
df = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data", names=names)
df.head()

,party,infants,water,budget,physician,salvador,religious,satellite,aid,missile,immigration,synfuels,education,superfund,crime,duty_free_exports,eaa_rsa
0,republican,n,y,n,y,y,y,n,n,n,y,?,y,y,y,n,y
1,republican,n,y,n,y,y,y,n,n,n,n,n,y,y,y,n,?
2,democrat,?,y,y,?,y,y,n,n,n,n,y,n,y,y,n,n
3,democrat,n,y,y,n,?,y,n,n,n,n,y,n,y,n,n,y
4,democrat,y,y,y,n,y,y,n,n,n,n,y,?,y,y,y,y

In [145]:
df.replace(('y', 'n', '?'), (1, 0, np.NaN), inplace=True)
df.head()

,party,infants,water,budget,physician,salvador,religious,satellite,aid,missile,immigration,synfuels,education,superfund,crime,duty_free_exports,eaa_rsa
0,republican,0.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,NaN,1.0,1.0,1.0,0.0,1.0
1,republican,0.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,NaN
2,democrat,NaN,1.0,1.0,NaN,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0
3,democrat,0.0,1.0,1.0,0.0,NaN,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0
4,democrat,1.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,NaN,1.0,1.0,1.0,1.0

In [146]:
df.fillna(method='bfill', inplace=True)
df.tail()

,party,infants,water,budget,physician,salvador,religious,satellite,aid,missile,immigration,synfuels,education,superfund,crime,duty_free_exports,eaa_rsa
430,republican,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0
431,democrat,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
432,republican,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0
433,republican,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0
434,republican,0.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,1.0,NaN,0.0

In [147]:
df.fillna(method='ffill', inplace=True)
df.tail()

,party,infants,water,budget,physician,salvador,religious,satellite,aid,missile,immigration,synfuels,education,superfund,crime,duty_free_exports,eaa_rsa
430,republican,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0
431,democrat,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
432,republican,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0
433,republican,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0
434,republican,0.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0

In [148]:
df.party.replace(('republican', 'democrat'), (1, 0), inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 435 entries, 0 to 434
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   party              435 non-null    int64
 1   infants            435 non-null    float64
 2   water              435 non-null    float64
 3   budget             435 non-null    float64
 4   physician          435 non-null    float64
 5   salvador           435 non-null    float64
 6   religious          435 non-null    float64
 7   satellite          435 non-null    float64
 8   aid                435 non-null    float64
 9   missile            435 non-null    float64
 10  immigration        435 non-null    float64
 11  synfuels           435 non-null    float64
 12  education          435 non-null    float64
 13  superfund          435 non-null    float64
 14  crime              435 non-null    float64
 15  duty_free_exports  435 non-null    float64
 16  eaa_rsa            435 non-null    float64
dtypes: float64(16), int64(1)
memory usage: 57.9 KB

In [149]:
for col in df.columns:
  df[col] = pd.to_numeric(df[col]).astype(int)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 435 entries, 0 to 434
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   party              435 non-null    int64
 1   infants            435 non-null    int64
 2   water              435 non-null    int64
 3   budget             435 non-null    int64
 4   physician          435 non-null    int64
 5   salvador           435 non-null    int64
 6   religious          435 non-null    int64
 7   satellite          435 non-null    int64
 8   aid                435 non-null    int64
 9   missile            435 non-null    int64
 10  immigration        435 non-null    int64
 11  synfuels           435 non-null    int64
 12  education          435 non-null    int64
 13  superfund          435 non-null    int64
 14  crime              435 non-null    int64
 15  duty_free_exports  435 non-null    int64
 16  eaa_rsa            435 non-null    int64
dtypes: int64(17)
memory usage: 57.9 KB

In [150]:
y = df.party.values # labels
X = df.drop('party', axis=1) # features

In [151]:
Xtrain, Xtest, ytrain, ytest = train_test_split(X, y, test_size = 0.25, random_state = 42, stratify=y)

In [152]:
classifier = RandomForestClassifier(n_estimators = 10, criterion = 'entropy', random_state = 0)
classifier.fit(Xtrain, ytrain)

y_pred = classifier.predict(Xtest)

cm = confusion_matrix(ytest, y_pred)
cm

array([[65,  2],
       [ 1, 41]])

In [153]:
print("Accuracy:", accuracy_score(ytest, y_pred))
print(classification_report(ytest, y_pred))

Accuracy: 0.9724770642201835
              precision    recall  f1-score   support

           0       0.98      0.97      0.98        67
           1       0.95      0.98      0.96        42

    accuracy                           0.97       109
   macro avg       0.97      0.97      0.97       109
weighted avg       0.97      0.97      0.97       109